# R user files
.Rproj.user
.Rhistory
.RData
.Ruserdata

# personal folder history
.DS_Store

# data and results folder
twn/data/[^readme]*
twn/data/demo/
twn/results/

tsn/data/[^readme]*
tsn/data/[^readme]/
tsn/results/

#demo outputs
twn/demo/output*

twn/QUIC/[^r]*
twn/QUIC/[^r]/
